$(SML_LIB)/basis/basis.mlb
$(SML_LIB)/smlnj-lib/Util/smlnj-lib.mlb
$(SML_LIB)/basis/mlton.mlb
$(RK_LIB)/rk.mlb
{% if UseCSolver  %}
$(RK_LIB)/crk.mlb
{% endif %}
$(RANDMTZIG_LIB)/randmtzig.mlb
$(DYNAMICS_LIB)/dynamics.mlb
$(TENSOR_LIB)/tensor.mlb
$(TENSOR_LIB)/sparse.mlb
$(TENSOR_LIB)/bit-tensor.mlb
$(TENSOR_LIB)/bit-sparse.mlb
$(NINEML_LIB)/priority.mlb
$(NINEML_LIB)/IntMap.sml
$(NINEML_LIB)/netoptions.sml

structure Dynamics = FunctionalHybridDynamics
local
        $(STATE_LIB)/state.sml
in
        structure BoolArrayState
        structure RealArrayState
end

local
        $(MODEL_LIB)/model.sig
        $(MODEL_LIB)/prelude.sml
        $(MODEL_LIB)/random.sml
in
        signature MODEL
        signature MODEL_RANDMTZIG
        functor ModelPreludeFn
        structure ModelRandom
end

{% for pop in dict (group.populations) %}
local
    {{pop.value.prototype.name}}.sml
in
    structure {{pop.value.prototype.name}} = Model
end
{% endfor %}
{% if group.conntypes %}{% for conn in dict (group.conntypes) %}
{% if conn.value.sysFn %}
local
    {{conn.value.sysFn}}_solver.sml
in
    structure Model_{{conn.name}} = Model
end
{% endif %}
{% endfor %}{% endif %}

{{group.name}}.sml
Sim_{{group.name}}.sml
