
$(SML_LIB)/basis/basis.mlb
$(SML_LIB)/smlnj-lib/Util/smlnj-lib.mlb

$(SML_LIB)/basis/unsafe.mlb
$(RK_LIB)/rk.mlb
{% if UseCSolver  %}
$(RK_LIB)/crk.mlb
{% endif %}
$(RANDMTZIG_LIB)/randmtzig.mlb
$(DYNAMICS_LIB)/dynamics.mlb
$(NINEML_LIB)/options.sml

structure Dynamics = FunctionalHybridDynamics2

local
	{{modelName}}.sml
in
	structure Model
end
Sim_{{modelName}}.sml

